vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|27 Jun 2007 23:14:41 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|27 Jun 2007 23:14:41 -0000
vti_filesize:IR|2464
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_backlinkinfo:VX|phoenixconsoles/index2.html
